p{
    font-size: 10px;
    margin: 0px;
}

.contenedorCampos{
    text-align: center;
}

.contenedorFormulario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.contenedorFormularioInferior{
    width: 100%;
    display: flex;
    /* margin-top: 25px; */
    margin-bottom: 40px;
}

.contenedorEstado{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.opciones{
    width: 100%;
    color: gray;
}

.contenedorOpciones{
    max-width: calc(100%/3);
    text-align: left;
    margin-left: 180px;
}

.label{
    /* width: 100%; */
    color: gray;
}

.contenedorImagen{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.seleccionaImagen{
    width: 100%;
} 

.botonFile{
    /* width: 100%; */
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: gray;
}

.displayContents{
    display: contents;
}


.izq{
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
    text-align: center;
}

.centro{
    width: calc(100%/3);
    text-align: center;
    
}

.der{
    width: calc(100%/3);
    text-align: center;
    /*padding: 20px;*/
}

.input{
    width: 220px;
    /*margin-bottom: 20px;*/
}

.select{
    width: 220px;

}

.datepicker{
    width: 220px;
 
}

.left{
    text-align: left;
    width: calc(100%/3);
}

.center{
    text-align: left;
    padding-left: 47px;
    width: calc(100%/3);
}

.right{
    text-align: left;
    width: calc(100%/3);
    padding-left: 47px;
}
.contenedorErrores{
    height: 10px;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 30px;
    display: flex;
}

.contenedorBotones{
    width: 100%;
}

.contenedorBotonAgregar{
    width: 100%;
    margin-bottom: 20px;
}

.contenedorBotonAgregar button{
    background-color: #FED248;
}

/* .contenedorBotonVolver{
    width: 100%;
    float: right;
} */

.botonVolver{
    float: left;
    background-color: #393e46;
    color: white;
}

/*para eliminar number spinner cuando en form el type=number (Run), funciona en chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}