<div class="container">
    <h2>Agregar Producto</h2>

    <div class="contenedorCampos">
        <div class="contenedorFormulario" [formGroup]="productoForm">
            
            <div class="izq">
                <mat-form-field class="input">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="nombre" placeholder="Ingrese Nombre" />
                </mat-form-field>
            </div>
            <div class="centro">
                <mat-form-field class="input">
                    <mat-label>Marca</mat-label>
                    <input matInput type="text" formControlName="marca" placeholder="Ingrese Marca"/>
                </mat-form-field>
            </div>
            <div class="der">
                <mat-form-field class="input">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" formControlName="precio" placeholder="Ingrese Precio" />
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <!--contenedor errores: proveedor, categoria y marca-->
            <div class="contenedorErrores">
                <div class="left">
                    <ng-container *ngIf="f.nombre.errors && f.nombre.touched">
                        <p class="text-danger" *ngIf="f.nombre.errors.required">El Nombre es obligatorio</p>
                        <p class="text-danger" *ngIf="f.nombre.errors.minlength">El Nombre debe tener a lo menos 3 caracteres</p>
                        <p class="text-danger" *ngIf="f.nombre.errors.maxlength">El Nombre no debe sobrepasar los 40 caracteres</p>
                    </ng-container>
                </div>
                <div class="center">
                    <ng-container *ngIf="f.marca.errors && f.marca.touched">
                        <p class="text-danger" *ngIf="f.marca.errors.required">La Marca es obligatoria</p>
                        <p class="text-danger" *ngIf="f.marca.errors.minlength">La Marca debe tener a lo menos 3 caracteres</p>
                        <p class="text-danger" *ngIf="f.marca.errors.maxlength">La Marca no debe sobrepasar los 20 caracteres</p>
                    </ng-container>
                </div>
                <div class="right">
                    <ng-container *ngIf="f.precio.errors && f.precio.touched">
                        <p class="text-danger" *ngIf="f.precio.errors.required">El Precio es obligatorio</p>
                        <p class="text-danger" *ngIf="f.precio.errors.min">El Precio debe ser mayor a 0</p>
                    </ng-container>
                </div>
            </div>

            <div class="izq">
                <mat-form-field class="input">
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" formControlName="stock" placeholder="Ingrese Stock" />
                </mat-form-field>
            </div>
            <div class="centro">
                <mat-form-field class="input">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput type="text" rows="1" formControlName="descripcion" placeholder="Ingrese Descripción"></textarea>
                </mat-form-field>
            </div>
            <div class="der">
                
            </div>

            <!--errores nombre, precio y stock-->
            <div class="contenedorErrores">
                <div class="left">
                    <ng-container *ngIf="f.stock.errors && f.stock.touched">
                        <p class="text-danger" *ngIf="f.stock.errors.required">El Stock es obligatorio</p>
                        <p class="text-danger" *ngIf="f.stock.errors.min">El Stock debe ser mayor a 0</p>
                    </ng-container>
                </div>
                <div class="center">
                    <ng-container *ngIf="f.descripcion.errors && f.descripcion.touched">
                        <p class="text-danger" *ngIf="f.descripcion.errors.required">La Descripción es obligatoria</p>
                        <p class="text-danger" *ngIf="f.descripcion.errors.minlength">La Descripción debe tener a lo menos 3 caracteres</p>
                        <p class="text-danger" *ngIf="f.descripcion.errors.maxlength">La Descripción no debe sobrepasar los 255 caracteres</p>
                    </ng-container>
                </div>
                <div class="right">
                    
                </div>
            </div>
        
            <div class="contenedorFormularioInferior">
                <!--agregar imagen class="contenedorImagen" class="seleccionaImagen" class="label"-->
                <div >
                    <div >
                        <label class="label">Imagen:</label>
                        <input class="botonFile" type="file" formControlName="imagen" (change)="seleccionarImagen($event)"/>
                    </div>
                </div>
                   
            </div>
            <div class="contenedorBotones">
                <div class="contenedorBotonAgregar">
                    <button mat-raised-button [disabled]="!productoForm.valid" 
                     (click)="agregarProducto()">Agregar<mat-icon
                        matSuffix>save</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-raised-button class="botonVolver" (click)="irAdministracionProductos()">Volver
                        <mat-icon matSuffix>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

