<div class="row row-cols-1 row-cols-md-3 mt-3">
    <div class="col mb-4" *ngFor="let producto of productos">
        <div class="card text-center text-white bg-dark mb-3 anchoCard">
            <img [src]="bodegaURL + producto.imagenPath" class="card-img-top imagenProducto" alt="..." *ngIf="producto.imagenPath && producto.marca != 'ANWO'" data-toggle="modal" [attr.data-target]="'#modal'+producto._id">
            <img [src]="anwoURL + producto.imagenPath" class="card-img-top imagenProducto" alt="..." *ngIf="producto.imagenPath && producto.marca == 'ANWO'" data-toggle="modal" [attr.data-target]="'#modal'+producto._id">
            <img src="..." class="card-img-top imagenProducto" alt="..." *ngIf="!producto.imagenPath">
            <div *ngIf="producto.sinStockBD" class="sin-stock">Sin stock</div>
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <h5 class="card-title">{{producto.marca}}</h5>
              <p class="card-text">{{producto.precio | currency:'CLP': 'symbol-narrow' : '1.0' }}</p>
              <div class="cantidad">
                <button mat-icon-button class="btn-redondo" [disabled]="producto.esUno" (click)="reducirCantidad(cant,cantm,producto)"><mat-icon>remove_circle</mat-icon></button>
                <input #cant value="1" readonly>
                <button mat-icon-button class="btn-redondo" [disabled]="producto.sinStock && producto.esUno" (click)="aumentarCantidad(cant,cantm,producto)"><mat-icon>add_circle</mat-icon></button>
              </div>
              <button class="boton" mat-flat-button (click)="agregarProducto(producto, cant)" [disabled]="producto.sinStockBD">Añadir al carro</button>
            </div>
          </div>

          <!-- MODAL PRODUCTO -->
          <div class="modal fade" [id]="'modal'+producto._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <picture>
                      <img [src]="bodegaURL + producto.imagenPath" class="card-img-top" alt="..." *ngIf="producto.imagenPath && producto.marca != 'ANWO'">
                      <img [src]="anwoURL + producto.imagenPath" class="card-img-top" alt="..." *ngIf="producto.imagenPath && producto.marca == 'ANWO'">
                    </picture>
                    </div>
                    <div class="modal-body">
                        <h3>
                            {{ producto.nombre + ' - ' + producto.marca }}
                        </h3>
                        <h3>
                          Stock: {{ producto.stock }}
                        </h3>
                        <p>{{ producto.descripcion }}</p>
                        <div class="inferior">
                            <div class="cantidad">
                                <button mat-icon-button [disabled]="producto.esUno"  class="btn-redondo" (click)="reducirCantidad(cant,cantm,producto)"><mat-icon>remove_circle</mat-icon></button>
                                <input #cantm value="1" readonly>
                                <button mat-icon-button class="btn-redondo" [disabled]="producto.sinStock && producto.esUno" (click)="aumentarCantidad(cant,cantm,producto)"><mat-icon>add_circle</mat-icon></button>
                            </div>
                            <button class="boton" mat-flat-button (click)="agregarProducto(producto, cant)" [disabled]="producto.sinStockBD">Añadir al carro</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="boton-cerrar" mat-stroked-button color="link"  data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
          </div>

    </div>
</div>


