.btn-redondo{
    color: #f9a11b;
}

.boton{
    background-color: #f9a11b;
    color: white;
}

.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cantidad input{
    width: 25px;
    height: 20px;
    text-align: center;
}
.imgPro{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagenProducto{
    width: 100%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.4s;
    min-height: 300px;
    max-height: 300px;
}
.imagenProducto:hover{
    padding: 5px;
}
.anchoCard{
    width: 19rem;
}
.sin-stock{
    position: absolute;
    top: 0;
    right: 0;
    background-color: crimson;
    color: white;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
}

/* MODAL PRODUCTO */

.modal-header{
    height: auto;
}

.modal-header picture{
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-header img{
    object-fit: contain;
    max-width: 100%;
}

.modal p{
    color: gray;
}

.modal .inferior{
    width: 100%;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.modal .inferior .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal .inferior .cantidad input{
    width: 20px;
    height: 20px;
    text-align: center;
}