<ngx-spinner>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/productos">BuenosAires</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adm-productos">Gestión Productos</a>
      </li>
    </ul>
  </div>

  <div class="contenedorCarrito">
    <button mat-mini-fab (click)="irACarroCompras()" matTooltip="Ir al carrito de compras"
    matTooltipPosition="after">
      <mat-icon class="iconoCarrito" 
        [matBadge]="productosEnCarrito" 
        [matBadgeHidden]="productosEnCarrito==0" 
        matBadgeSize="small" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </div>
</nav>

<div class="container shadow-lg pb-1">
  <router-outlet></router-outlet>
</div>

