.tabla{
    width: 100%;
}

.tabla img{
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */
.cantidad input{
    width: 30px;
    text-align: center;
}

.cantidad{
    text-align: center;
}
.mensaje{
    margin-top: 100px;
    text-align: center;
    width: 100%;
    color: grey;
    font-size: 20px;
    padding-bottom: 4rem;
}

.botonPagar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.botonPagar h3{
    margin: 0;
    margin-right: 5px;
    color: gray;
}
.botonPagar h2{
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    color: crimson;
}

.botonPagar button{
    margin-left: 10px;
}