<button class="ml-4 mb-3 mt-4" mat-mini-fab color="warn" (click)="irAProductos()" matTooltip="Agregar más productos"
matTooltipPosition="after">
    <mat-icon>add_shopping_cart</mat-icon>
</button>
<div class="contenedor-tabla">
    <div class="table-responsive mat-elevation-z5">
        <table mat-table [dataSource]="dsProductos" class="mat-elevation-z5 tabla">
          
            <!-- Imagen -->
            <ng-container matColumnDef="imagen">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <img [src]="bodegaURL + element.imagenPath" alt="..." *ngIf="element.imagenPath && element.marca != 'ANWO'">
                <img [src]="anwoURL + element.imagenPath" alt="..." *ngIf="element.imagenPath && element.marca == 'ANWO'">
              </td>
            </ng-container>
          
            <!-- Producto -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Producto </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre + ' ' + element.marca}} </td>
            </ng-container>
          
            <!-- Precio -->
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio | currency : "CLP" : 'symbol-narrow' : '1.0'}} </td>
            </ng-container>
  
            <!-- Cantidad -->
            <ng-container matColumnDef="cantidad">
                <th class="cantidad" mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element">
                  <div class="cantidad">
                    <button mat-icon-button color="warn" (click)="reducirCantidad(element, cant)"><mat-icon>remove_circle</mat-icon></button>
                    <input #cant value="{{element.cantidadCarrito}}" readonly>
                    <button mat-icon-button color="warn" [disabled]="element.sinStock" (click)="aumentarCantidad(element, cant)"><mat-icon>add_circle</mat-icon></button>
                  </div>
                </td>
            </ng-container>
  
            <!-- Total -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.precio * element.cantidadCarrito | currency : "CLP" : 'symbol-narrow' : '1.0'}} </td>
            </ng-container>
  
            <!-- Eliminar -->
            <ng-container matColumnDef="eliminar">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-stroked-button (click)="quitarProducto(element)">Eliminar</button>
              </td>
            </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="dcProductos"></tr>
            <tr mat-row *matRowDef="let row; columns: dcProductos;"></tr>
          </table>
    </div>
    <div class="mensaje" *ngIf="total==0">
      <p>No hay productos en el carrito</p>
    </div>
  </div>

  <div class="mat-elevation-z5 botonPagar" *ngIf="dsProductos.length > 0">
    <h3>Total a pagar: </h3><h2>{{ total | currency : "CLP" : 'symbol-narrow' : '1.0' }}</h2>
    <button mat-raised-button color="warn" (click)="generarCompra()">Pagar</button>
  </div>