/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar{
    background-color: rgb(51, 167, 12);
}

.red-snackbar{
    background-color: crimson;
}