<div class="container pb-3">
    <h2>Gestión de Productos</h2>

    <div class="botonAgregar">
        <button mat-raised-button color="primary" (click)="irAgregarProducto()">Agregar <mat-icon matSuffix>
                add_circle_outline</mat-icon> </button>
    </div>

    <!-- SECCION TABLA -->
    <div class="tabla mat-elevation-z3">
        <table mat-table [dataSource]="dsProductos" matSort [formGroup]="productoForm">

            <!-- Nombre -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="!element.visible" class="text-cell">{{element.nombre}}</p>
                    <input *ngIf="element.visible" type="text" formControlName="nombre">
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.nombre.errors && f.nombre.touched">
                            <p class="text-danger error-text" *ngIf="f.nombre.errors.required">Campo obligatorio</p>
                            <p class="text-danger error-text" *ngIf="f.nombre.errors.minlength">Debe tener a lo menos 3
                                caracteres</p>
                            <p class="text-danger error-text" *ngIf="f.nombre.errors.maxlength">No debe sobrepasar los
                                40 caracteres</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="!element.visible" class="text-cell">{{element.marca}}</p>
                    <input *ngIf="element.visible" type="text" formControlName="marca" class="marcaInput">
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.marca.errors && f.marca.touched">
                            <p class="text-danger error-text" *ngIf="f.marca.errors.required">Campo obligatorio</p>
                            <p class="text-danger error-text" *ngIf="f.marca.errors.minlength">Debe tener a lo menos 3
                                caracteres</p>
                            <p class="text-danger error-text" *ngIf="f.marca.errors.maxlength">No debe sobrepasar los 20
                                caracteres</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <!-- Precio -->
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td mat-cell *matCellDef="let element" class="derecha">
                    <p *ngIf="!element.visible" class="text-cell">{{element.precio | currency : "CLP" : 'symbol-narrow' : '1.0' }}</p>
                    <input *ngIf="element.visible" type="number" formControlName="precio" class="numberInput">
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.precio.errors && f.precio.touched">
                            <p class="text-danger error-text" *ngIf="f.precio.errors.required">Campo obligatorio
                            </p>
                            <p class="text-danger error-text" *ngIf="f.precio.errors.min">Debe ser mayor a 0</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <!-- Descripción -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="!element.visible" class="text-cell">{{element.descripcion}}</p>
                    <input *ngIf="element.visible" type="text" formControlName="descripcion">
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.descripcion.errors && f.descripcion.touched">
                            <p class="text-danger error-text" *ngIf="f.descripcion.errors.required">Campo obligatorio
                            </p>
                            <p class="text-danger error-text" *ngIf="f.descripcion.errors.minlength">Debe tener a lo
                                menos 3 caracteres</p>
                            <p class="text-danger error-text" *ngIf="f.descripcion.errors.maxlength">No debe sobrepasar
                                los 255 caracteres</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            

            <!-- Stock -->
            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="!element.visible" class="text-cell">{{element.stock}}</p>
                    <input *ngIf="element.visible" type="number" formControlName="stock" class="numberInput">
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.stock.errors && f.stock.touched">
                            <p class="text-danger error-text" *ngIf="f.stock.errors.required">Campo obligatorio</p>
                            <p class="text-danger error-text" *ngIf="f.stock.errors.min">Debe ser mayor a 0</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>


            <!-- Fecha creación -->
            <!-- <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación </th>
                <td mat-cell *matCellDef="let element" class="derecha">
                    <p *ngIf="!element.visible" class="text-cell">{{element.fechaCreacion}}</p>
                    <input *ngIf="element.visible" type="date" formControlName="fechaCreacion" matInput>
                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.fechaCreacion.errors && f.fechaCreacion.touched">
                            <p class="text-danger error-text" *ngIf="f.fechaCreacion.errors.required">Campo obligatorio</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container> -->

            <!-- Estado -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="!element.visible" class="text-cell">{{element.estado}}</p>

                    <select *ngIf="element.visible" formControlName="estado">
                        <option *ngFor="let estado of estados" [value]="estado.descripcion">
                            {{estado.descripcion}}
                        </option>
                    </select>

                    <div *ngIf="element.visible">
                        <ng-container *ngIf="f.estado.errors && f.estado.touched">
                            <p class="text-danger error-text" *ngIf="f.estado.errors.required">Campo obligatorio</p>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <!-- Imagen -->
            <!-- <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                <td mat-cell *matCellDef="let element" >

                    <p *ngIf="!element.visible" class="text-cell"><img [src]="element.imagenProducto.url" alt="imagen" style="height: 25px; width: 25px;"></p>

                    <input *ngIf="element.visible" type="button" value="Cambiar imagen" onclick="document.getElementById('img').click();" />
                    <input *ngIf="element.visible" id="img" type="file" formControlName="imagen" style="display: none;"  (change)="seleccionarImagen($event)">
                    
                </td>
            </ng-container> -->

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">

                    <button matTooltip="Editar" mat-button
                        (click)="abrirEditarProducto(element); element.editar = !element.editar; element.visible = !element.visible"
                        *ngIf="element.editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button matTooltip="Guardar" mat-button [disabled]="!productoForm.valid"
                        (click)="editarProducto(element); element.editar = !element.editar; element.visible = !element.visible"
                        *ngIf="!element.editar">
                        <mat-icon>save</mat-icon>
                    </button>

                    <button matTooltip="Cancelar edición" mat-button [disabled]="!productoForm.valid" 
                        (click)="element.editar = !element.editar; element.visible = !element.visible" *ngIf="!element.editar">
                        <mat-icon>undo</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dcProductos"></tr>
            <tr mat-row *matRowDef="let row; let odd = odd; columns: dcProductos;" [ngClass]="{ gray: odd }"></tr>
        </table>


        <mat-paginator [pageSizeOptions]="[7, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
