.tabla{
    width: calc(100%);
    margin: 15px 0px 0px 0px;
}
.tabla .alto{
    min-height: 410px;
    /* height: 540px; */
    width: 100%;
    overflow: auto;
    background-color: white;
}

.tabla table{
    width: 100%;
}

.tabla img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabla table th{
    background-color: #424242;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.tabla table td{
    color: #616161;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    height: 48px;
    font-size: 12px;
}

.error-text{
    margin: 0;
    font-size: 10px;
}

.marcaInput{
    width: 7rem;
}

.numberInput{
    width: 4rem;
}